## Import the kaggle dataset

In [ ]:
import pandas as pd

# Load weather data
weather_df = pd.read_csv('all_weather_data.csv')

# Extract year and month from date
weather_df['date'] = pd.to_datetime(weather_df['date'])
weather_df['Year'] = weather_df['date'].dt.year
weather_df['Month'] = weather_df['date'].dt.month

# Get unique locations
locations = weather_df['location'].unique()
print("Unique Locations:", locations)

Unique Locations: ['Holywood' 'North Cray' 'Portknockie' 'Blairskaith' 'Onehouse'
 'Poling Corner' 'Rhydyfelin' 'Old Felixstowe' 'Vauxhall' 'Pencraig'
 'Carrickfergus' 'Parkway' 'Mutford' 'Eden' 'Madrid' 'Tyntetown'
 'Pillerton Priors' 'Ballymacarret' 'Pulborough' 'Dufftown' 'Reigate'
 'Pont Rhyd-Y-Cyff' 'Paddington' 'Oakley' 'Palgrave' 'Oslo' 'Lisson Grove'
 'Newton' 'Nayland' 'Rhiwinder' "Ty'n-Y-Garn" 'Pot Common' 'Pen-Y-Park'
 'Moss Of Barmuckity' 'Bangor' 'Manchester' 'Cunningburn' 'Prague'
 'Bexleyheath' 'Milan' 'Pentre Bychan' 'Hopeman' 'Clachan Of Campsie'
 'Belgravia' 'Bearsden' 'Pirbright Camp' 'Pentre Cilgwyn' 'Budapest'
 'Chichester' "Page's Green" 'Thamesmead' 'Cadder' 'Pontyclun' 'Outwood'
 'Cork' 'St James' 'Nethermills' 'West Heath' 'Harestanes' "St Luke's"
 'Fluchter' 'Ardmillan' 'Merthyr Mawr' 'Peterstow' "Knight's Hill"
 'Norton Little Gree...' 'Cliftonville' 'Perrystone Hill' 'New End'
 'Naughton' 'Streatham Vale' 'Pillerton Hersey' 'Paradise Green' 'Newnham'
 'Nottage' 'Windsor' 'Portgordon' 'Penguithal' 'Ballydrain' 'Egham'
 'Wrexham' 'Greyabbey' 'Haywards Heath' 'Balgrochan' 'Waterside' 'Munich'
 'Woodburn' 'Athens' 'Moss' 'Pentre Broughton' "Neal's Green"
 'Westbourne Green' 'West Dulwich' 'Mill Hills' 'Palmers Cross'
 'Springfield' 'Pound Hill' 'Clerkenwell' 'Rothes' 'Penygraig'
 'Six Road Ends' 'Penprysg' 'Crawfordsburn' 'Greencastle' 'Oulton'
 'Poynings' 'Minera' 'Falconwood' 'Carrowdore' 'Fochabers' 'Strand'
 'Berlin' 'Shankill' 'Sarn' 'Barnsbury' 'Portway' 'Bridgend' 'Llan-Y-Pwll'
 'Ponciau' 'Crayford' 'Tulse Hill' 'Stanleytown' 'Hamberg' 'Wern Tarw'
 'Phocle Green' 'Muir Of Lochs' 'Helens Bay' 'Offton' 'Paynes Green'
 'Rosebank' 'Pimlico' 'Killinchy' 'Polesden Lacey' 'Pontshill'
 'Greenisland' 'Bayswater' 'Tythegston' 'Knockandhu' 'Orleton Common'
 'Milton' 'Penrhiwfer' 'Sunbury' 'Kearney' 'Pool Head' 'Kinloss'
 'New York' 'Pant' 'Parliament Heath' 'Prinsted' 'Auchenreoch' 'Twechar'
 'Porthcawl' 'Nextend' 'Russ Hill' 'Finsbury Park' 'Pixham'
 'Newbold On Avon' 'Parton' 'Pachesham Park' 'Cullen' 'Marylebone'
 'Plas Coch' 'Pont Si√¥n Norton' 'Lowestoft' 'Sydenham' 'Lambeth' 'Mulben'
 'Portaferry' 'Williamstown' 'Nethercote' 'Wattstown' 'Northend'
 'Bognor Regis' 'Pont-Y-Blew' 'Parkside' 'Pen-Y-Cae' 'Taffs Well' 'Ormeau'
 'Finaghy' 'Rhondda' 'Tynewydd' 'Rome' 'Hereford' 'Perton'
 'Portslade-By-Sea' 'Chertsey' 'Norton Lindsey' 'Kenilworth' 'Pentrebach'
 'Leatherhead' 'Elgin' 'Pakenham' 'Bedworth' 'New Bilton' 'Mayfair'
 'Streatham Hill' 'New Brighton' 'Milngavie' 'Miltonduff' 'Belfast'
 'Legoniel' 'Lessness Heath' 'Old Newton' 'Nuns Quarter' 'Kircubbin'
 'Park Gate' 'Barcelona' 'Rydens' 'Maida Vale' 'Rydeshill' 'Moats Tye'
 'Penrhiwceiber' 'Portavogie' 'Haverhill' 'Birmingham ' 'Nant-Y-Moel'
 'Westminster' 'Orcop Hill' 'Stockholm' 'Nantyffyllon' 'Amsterdam'
 'West Norwood' 'Longlands' 'Pirbright' 'Mawdlam' 'Coedpoeth' 'Salfords'
 'Lossiemouth' 'Pontygwaith' 'Pakefield' 'Lhanbryde' 'North End'
 'Pen-Yr-Heol' 'Llay' 'Penley' 'Moreton Morrell' 'Pixley' 'Ballywalter'
 'Povey Cross' 'Copthorne' 'Nantgarw' 'Birdston' 'East Wickham'
 'Overton Bridge' 'Paris' 'Perthcelyn' 'Dublin' 'Pen-Y-Fai'
 "St John's Wood" 'Finsbury' 'Wyndham' 'Newtownards' 'Littlehampton'
 'Maggieknockater' 'Newhall Green' 'Kirkintilloch' 'Poling' 'Pentre'
 'Park Barn' 'Tynant' 'Warsaw' 'Knockando' 'Donaghadee' 'Stanwell'
 'Plaistow' 'Mynachdy' 'Ogmore Vale' 'New Elgin' 'Pendre' 'Keith'
 'Stockwell' 'Monwode Lea' 'Conlig' 'Coldblow' 'Findhorn'
 'Whitehouse Upper' 'Shelf' 'Palermo' 'Pains Hill' 'North Green'
 'Little Green' 'Groomsport' 'Godalming' 'Pontypridd' 'Penycae'
 'Peterchurch' 'Robertstown' 'Milltown Of Edinvi...' 'Sidcup' 'Nuneaton'
 'Farnham' 'Preston Fields' 'Llwydarth' 'Burghead' 'Blackfen' 'Pencoed'
 'Norton' 'Ballycarry' 'Pyrford Village' 'Norbridge' 'Penderyn' 'Rhigos'
 'Forres' 'Old Arley' 'Ocle Pychard' 'Tylorstown' 'Merehead'
 'Pentre Maelor' 'Thomastown' "No Man's Heath" 'Lochhill' 'Price Town'
 'Bishopbriggs' 'Parham' 'Newton Regis' 'Kirkistown' 'Norwich' 'Buckie'
 "Regent's Park" 'Oak Hill' 'Queens Island' 'Park Lane' 'Nacton' 'Orcop'
 'Portfield' 'Painters Green' 'Pontycymer' 'Kennington' 'Highbury'
 'Bexley' 'Balmore' 'Marypark' 'Skegoniel' 'Cloghy' 'New Broughton'
 'Maesteg' 'Mosstodloch' 'Old Country' 'Walton-On-Thames' 'Tylagwyn'
 'New Arley' 'Whitehouse Lower' 'Warwick' 'Parkgate' 'Myton' 'Beccles'
 'Prey Heath' 'Napton On The Hill' 'Ousden' 'Oxted' 'Stormont' 'Moss-Side'
 'Oulton Broad' 'Preston Bagot' 'Upper Church Villa...' 'Horsham'
 'Newcastle' 'Comber' 'Pen-Yr-Englyn' 'Talbot Green' 'Nowton' 'Pembridge'
 'Old Wharf' 'Stratford-Upon-Avo...' 'Newbridge' 'Newtown' 'Mount Sion'
 'Lower Holloway' 'Soho' 'Mountain Ash' 'Crawley' 'Glastry' 'London'
 'Llanarmon Dyffryn ...' 'Clapham' 'Knock' 'Peaslake' 'Mount Pleasant'
 'Nebsworth' 'Ringboy' 'Canonbury' 'Bardowie' 'Pen-Y-Bryn' 'Ton-Teg'
 'Orford' 'Moulton' 'Peartree Green' 'Knockbog' 'Whitehead'
 'South Lambeth' 'Quags Corner' 'Monks Kirby' 'Northumberland Hea...'
 'Ballygowan' 'Pencombe' 'Oakley Park' 'Polesworth' 'Nether Whitacre'
 'High Gallowhill' 'Mousley End' 'Leeds' 'Colston' 'Buchley' 'Pen-Y-Rhiw'
 'Lenzie' 'Moreton Paddox' 'Rugby' 'Kilroot' 'Peasmarsh' 'Torrance'
 'Newbold-On-Stour' 'Edinburgh' 'Oxgang' 'Oxshott' 'Rhiwceiliog' 'Lisbon'
 'Pontfadog' 'Penrhos' 'Brixton' 'Morton Bagot' 'Penywaun' 'Abengourou'
 'Pentonville' 'Tremains' 'Wild Mill' 'Otley' 'Pipe And Lyde'
 'Norton Canon' 'Royal Leamington S...' 'Old Bexley' 'Pikestye' 'Occold'
 'Ton Pentre' 'Upper Boat' 'Lennoxtown' 'Pitch Place' 'Peper Harow'
 'Barnehurst' 'Drumhirk' 'South Cornelly' 'Pipe Aston' 'Streatham Park'
 'Belvedere' 'Broadford' 'North Cornelly' 'Barnes Cray' 'Moycroft'
 'Lower Auchenreath' 'Exeter' 'Pandy' 'Pant-Y-Pyllau' 'Marford' 'Ipswich'
 'Oldhall Green' 'Pont-Y-Rhyl' 'Slade Green' 'Monks Eleigh' 'Clapham Park'
 'Ynysybwl' 'Findochty' 'Streatham' 'Plough Hill' 'Bellahill'
 'Stranmillis' 'Millisle' 'Llwynmawr' 'Porth' 'Hayston' 'Banstead'
 'Furzedown' 'Staines' 'Penrhys' 'Millersneuk' 'Pontrilas' 'Marchwiel'
 'Balmoral' 'Old Gore' 'Old Forge' 'Mill Street' 'Poolmill'
 'Nether Dallachy' 'Islington' 'Foots Cray' 'Whiterock' 'Cultra'
 'Waun Y Gilfach' 'Newbold Pacey' 'Milltown Of Auchin...' 'Burgess Hill'
 'Pen-Rhos' 'Overton' 'Brompton' 'Nutfield' 'Welling' 'Pant-Yr-Awel'
 'Wig Fach' 'East Grinstead' 'Pyecombe' 'Guildford' 'Milton Of Campsie'
 'Erith' 'Bar Hall' 'Lintmill' 'Ardkeen']

#### Analyse the Dataset lenght

In [37]:
print(len(locations))

504

#### Enlist the regions in our avian data

In [38]:
region = ['East Midlands',
'East of England',
'London',
'North East',
'North West',
'Scotland',
'South East',
'South West',
'Wales',
'West Midlands',
'Yorkshire and The Humber']

#### Deep dive into each location of UK from kaggle data

In [ ]:
with open("output.txt", "w") as file:
    for i, item in enumerate(locations, start=1):
        file.write(f"{i}. {item}\n")

#### Mapped the kaggle dataset UK locations into the respective avian regions

In [40]:
# Define the 11 regions and their associated locations
region_mapping = {
    "Scotland": [
        "Portknockie", "Blairskaith", "Dufftown", "Moss Of Barmuckity", "Rothes", "Fochabers", 
        "Cullen", "Elgin", "Lossiemouth", "Lhanbryde", "Keith", "Burghead", "Forres", "Buckie", 
        "Marypark", "Mosstodloch", "Findhorn", "Findochty", "Moycroft", "Miltonduff", "Kinloss",
        "New Elgin", "Mulben", "Knockando", "Moss-Side", "Broadford", "Moss", "Clachan Of Campsie"
    ],
    "Wales": [
        "Rhydyfelin", "Pont Rhyd-Y-Cyff", "Pen-Y-Park", "Pentre Bychan", "Pontyclun", "Merthyr Mawr",
        "Penygraig", "Penprysg", "Porthcawl", "Rhondda", "Tynewydd", "Penrhiwceiber", "Coedpoeth",
        "Pontygwaith", "Nantgarw", "Pencoed", "Pontypridd", "Pentyrch", "Penywaun", "Tonypandy",
        "Porth", "Llwynmawr", "Pen-Y-Bont", "Aberdare", "Maesteg", "Pontardawe", "Ynysybwl"
    ],
    "Northern Ireland": [
        "Holywood", "Carrickfergus", "Ballymacarret", "Greyabbey", "Belfast", "Legoniel",
        "Newtownards", "Donaghadee", "Conlig", "Whitehead", "Bangor", "Groomsport", "Crawfordsburn",
        "Comber", "Kircubbin", "Portavogie", "Ballywalter", "Ballycarry", "Killinchy", "Strangford"
    ],
    "North East England": [
        "Newcastle", "Stanleytown", "Gateshead", "Sunderland", "Durham", "Middlesbrough"
    ],
    "North West England": [
        "Manchester", "Liverpool", "Warrington", "Preston", "Bolton", "Blackpool", "Wigan",
        "Stockport", "Salford", "Oldham", "Rochdale", "Bury", "Birkenhead", "St. Helens"
    ],
    "Yorkshire and The Humber": [
        "Leeds", "Sheffield", "Bradford", "York", "Hull", "Wakefield", "Harrogate", "Doncaster",
        "Rotherham", "Barnsley", "Halifax", "Huddersfield", "Scarborough", "Grimsby", "Bridlington"
    ],
    "East Midlands": [
        "Nottingham", "Leicester", "Derby", "Lincoln", "Northampton", "Chesterfield", "Mansfield",
        "Boston", "Grantham", "Loughborough", "Worksop", "Newark", "Matlock", "Buxton"
    ],
    "West Midlands": [
        "Birmingham", "Coventry", "Wolverhampton", "Warwick", "Solihull", "Walsall", "Dudley",
        "Stoke-on-Trent", "Telford", "Hereford", "Worcester", "Shrewsbury", "Stafford", "Tamworth",
        "Polesworth", "Rugby", "Nuneaton", "Bedworth", "Atherstone", "Hinckley", "Lutterworth",
        "Market Harborough", "Coalville", "Ashby-de-la-Zouch", "Melton Mowbray", "Oakham"
    ],
    "East of England": [
        "Ipswich", "Lowestoft", "Norwich", "Haverhill", "Cambridge", "Peterborough", "Luton",
        "Colchester", "Bury St Edmunds", "Chelmsford", "Southend", "Basildon", "Harlow", "Stevenage"
    ],
    "South East England": [
        "London", "Brighton", "Reigate", "Horsham", "Guildford", "Oxford", "Reading", "Maidstone",
        "Canterbury", "Dover", "Portsmouth", "Southampton", "Slough", "Windsor", "Egham", "Woking"
    ],
    "South West England": [
        "Exeter", "Plymouth", "Bristol", "Bath", "Gloucester", "Swindon", "Bournemouth", "Poole",
        "Taunton", "Truro", "Cheltenham", "Torquay", "Penzance", "St Austell", "Yeovil", "Weymouth"
    ]
}

## Preprocess the kaggle dataset

In [ ]:
import pandas as pd

# region-to-locations mapping
on_mapping = region_mapping

# Convert it into location ‚Üí region mapping
location_to_region = {}
for region, locations in on_mapping.items():
    for loc in locations:
        location_to_region[loc.lower()] = region  # Use lowercase for safer matching

# Load weather data
weather_df = pd.read_csv("all_weather_data.csv")

# Add Region column using the mapping
weather_df['Region'] = weather_df['location'].str.lower().map(location_to_region)

# Extract Year and Month from date
weather_df['date'] = pd.to_datetime(weather_df['date'])
weather_df['Year'] = weather_df['date'].dt.year
weather_df['Month'] = weather_df['date'].dt.month

# Filter out rows with unmapped regions
weather_df = weather_df.dropna(subset=['Region'])

#### Observe top 5 elements

In [42]:
weather_df.head()

,location,date,min_temp ¬∞c,max_temp ¬∞c,rain mm,humidity %,cloud_cover %,wind_speed km/h,wind_direction,wind_direction_numerical,Region,Year,Month
0,Holywood,2009-01-01,0,3,0.0,86,14,12,E,90.0,Northern Ireland,2009,1
2,Portknockie,2009-01-01,2,4,0.8,88,87,10,ESE,112.5,Scotland,2009,1
3,Blairskaith,2009-01-01,-3,1,0.0,86,43,12,ENE,67.5,Scotland,2009,1
6,Rhydyfelin,2009-01-01,-2,1,0.0,71,8,15,E,90.0,Wales,2009,1
10,Carrickfergus,2009-01-01,0,3,0.0,82,11,14,E,90.0,Northern Ireland,2009,1

#### Utlise average to calculate the region temperature

In [ ]:
# Calculate average monthly temps per region
avg_temp_by_region = weather_df.groupby(['Region', 'Year', 'Month']).agg({
    'min_temp ¬∞c': 'mean',
    'max_temp ¬∞c': 'mean'
}).reset_index()

# Rename columns
avg_temp_by_region.rename(columns={
    'min_temp ¬∞c': 'Avg_Min_Temp',
    'max_temp ¬∞c': 'Avg_Max_Temp'
}, inplace=True)

In [44]:
avg_temp_by_region

                       Region  Year  Month  Avg_Min_Temp  Avg_Max_Temp
0             East of England  2009      1      2.024194      5.266129
1             East of England  2009      2      2.607143      6.285714
2             East of England  2009      3      3.879032      9.572581
3             East of England  2009      4      7.075000     13.300000
4             East of England  2009      5      9.637097     15.072581
..                        ...   ...    ...           ...           ...
685  Yorkshire and The Humber  2014      5      6.935484     15.161290
686  Yorkshire and The Humber  2014      6      9.100000     18.233333
687  Yorkshire and The Humber  2014      7     11.258065     21.612903
688  Yorkshire and The Humber  2014      8     10.129032     18.000000
689  Yorkshire and The Humber  2014      9      9.562500     18.812500

[690 rows x 5 columns]

#### Get our Avian dataset

In [ ]:
draft_df = pd.read_excel("draft.xlsx")

In [46]:
draft_df.head()

,Age Category,Year,Month,Region,Found dead,Wasting,Respiratory,Other/Unknown,Abnormal faeces or other GIT,Non-specific,Nervous,Musculoskeletal/lameness,Recumbent,Egg Quality,skin,y for diagnosed cases
0,0-7,2012,9,Wet Midlands,1,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection
1,0-7,2014,1,Wet Midlands,1,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection
2,0-7,2014,10,scotland,0,0,0,1,0,0,0.0,0,0,0,0,Yolk sac infection
3,0-7,2017,10,scotland,2,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection
4,0-7,2017,10,scotland,0,1,0,0,0,0,0.0,0,0,0,0,colisepticaemia

#### Preprocess Avian Dataset

In [47]:
# Strip whitespace and normalize case
draft_df['Region'] = draft_df['Region'].str.strip().str.lower()
avg_temp_by_region['Region'] = avg_temp_by_region['Region'].str.strip().str.lower()

In [48]:
draft_df['Year'] = draft_df['Year'].astype(int)
draft_df['Month'] = draft_df['Month'].astype(int)
avg_temp_by_region['Year'] = avg_temp_by_region['Year'].astype(int)
avg_temp_by_region['Month'] = avg_temp_by_region['Month'].astype(int)

In [49]:
print("Regions in draft_df:", draft_df['Region'].unique())
print("Regions in avg_temp_by_region:", avg_temp_by_region['Region'].unique())

print("Years in draft_df:", draft_df['Year'].unique())
print("Years in avg_temp_by_region:", avg_temp_by_region['Year'].unique())

print("Months in draft_df:", draft_df['Month'].unique())
print("Months in avg_temp_by_region:", avg_temp_by_region['Month'].unique())

Regions in draft_df: ['wet midlands' 'scotland' 'east of england' 'south east' 'east midlands'
 'yorkshire and the humber' 'south west' 'wales' 'west midlands' 'london'
 'north west']
Regions in avg_temp_by_region: ['east of england' 'north east england' 'north west england'
 'northern ireland' 'scotland' 'south east england' 'south west england'
 'wales' 'west midlands' 'yorkshire and the humber']
Years in draft_df: [2012 2014 2017 2018 2020 2021 2013 2022 2023 2024 2025 2019]
Years in avg_temp_by_region: [2009 2010 2011 2012 2013 2014]
Months in draft_df: [ 9  1 10  3  7  4  2  5  6  8 11 12]
Months in avg_temp_by_region: [ 1  2  3  4  5  6  7  8  9 10 11 12]

## Merge the average temperature into your draft

In [ ]:
merged_df = pd.merge(draft_df, avg_temp_by_region, on=['Region', 'Year', 'Month'], how='left')

In [51]:
merged_df.head()

,Age Category,Year,Month,Region,Found dead,Wasting,Respiratory,Other/Unknown,Abnormal faeces or other GIT,Non-specific,Nervous,Musculoskeletal/lameness,Recumbent,Egg Quality,skin,y for diagnosed cases,Avg_Min_Temp,Avg_Max_Temp
0,0-7,2012,9,wet midlands,1,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection,NaN,NaN
1,0-7,2014,1,wet midlands,1,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection,NaN,NaN
2,0-7,2014,10,scotland,0,0,0,1,0,0,0.0,0,0,0,0,Yolk sac infection,NaN,NaN
3,0-7,2017,10,scotland,2,0,0,0,0,0,0.0,0,0,0,0,Yolk sac infection,NaN,NaN
4,0-7,2017,10,scotland,0,1,0,0,0,0,0.0,0,0,0,0,colisepticaemia,NaN,NaN

## Save the merged result

In [ ]:
merged_df.fillna(0, inplace=True) #Repalce NaN with 0
merged_df.to_excel("draft_with_temperature.xlsx", index=False)